@import url("https://fonts.googleapis.com/css2?family=Inter&family=JetBrains+Mono:ital@1&family=Overpass&family=Roboto&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #00152C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

.top-container {
  color: white;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "JetBrains Mono";
  padding: 0px 10px;
  font-size: 24px;
}

.logo:hover {
  filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.2));
}

.navbar {
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

p.nav {
  font-family: "Inter";
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 8px;
}

p.nav_p {
  font-family: "Inter";
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 8px;
  text-decoration: underline;
}

.slides-container {
  background-image: url("./assets/header.png");
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 0;
     object-position: 100% 0;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.titles-c {
  flex: 70%;
  max-width: 60%;
}

.name-t-c {
  background-color: rgba(210, 160, 79, 0.9);
  flex: 100%;
  max-width: 1000%;
  margin: auto;
}

.name-t {
  font-family: "Inter";
  color: white;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}
@media only screen and (max-width: 640px) {
  .name-t {
    font-size: 30px;
    font-weight: 600;
  }
}

.state-c {
  background-color: rgba(210, 160, 79, 0.9);
  flex: 100%;
  max-width: 1000%;
  margin: auto;
}

.state {
  font-family: "JetBrains Mono";
  color: white;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}
@media only screen and (max-width: 640px) {
  .state {
    font-size: 15px;
    font-weight: 400;
  }
}

.rec-proj-c {
  padding-bottom: 15px;
}

.proj-bar {
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px;
}

div.picture1 {
  height: 375px; /*height of your image*/
  background-image: url("assets/temp.PNG");
  margin: 0; /* If you want no margin */
  padding: 0; /*if your want to padding */
}

div.picture2 {
  height: 375px; /*height of your image*/
  background-image: url("assets/temp2.PNG");
  margin: 0; /* If you want no margin */
  padding: 0; /*if your want to padding */
}

.proj-c {
  padding: 20px 0px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

/* Dropdown Button */
.dropbtn {
  background-color: #003670;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: "JetBrains Mono";
}

/* Dropdown button on hover & focus */
.dropbtn:hover {
  background-color: white;
  color: #003670;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  font-family: "JetBrains Mono";
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  padding: 15px;
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
  right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

footer {
  background-color: #002D5E;
  height: auto;
  left: 0;
  bottom: 0;
  margin-bottom: 0px;
  color: white;
  font-family: "JetBrains Mono";
  width: auto;
  font-style: normal;
  margin-top: auto;
}

.f-c {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px;
}

.p-footer {
  padding: 5px;
}

div.icons {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-envelope {
  width: 22px;
  height: 22px;
  background-image: url("assets/envelope-regular.svg");
}

.fa-linkedin {
  width: 17.5px;
  height: 20px;
  background-image: url("assets/linkedin.svg");
}

/* Slideshow container */
.slideshow-container {
  flex: 100%;
  max-width: 88%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  height: 375px;
}
@media only screen and (max-width: 880px) {
  .mySlides {
    flex-direction: column;
    height: auto;
  }
}
@media only screen and (max-width: 730px) {
  .mySlides {
    flex-direction: column;
    height: auto;
  }
}

.proj-i {
  max-width: 100%;
  max-height: 100%;
  display: flex;
}
@media only screen and (max-width: 730px) {
  .proj-i {
    justify-content: center;
  }
}

.proj-t {
  font-family: "Inter";
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding: 25px 15px;
}

.proj-t2 {
  font-family: "Inter";
  color: white;
  background-color: rgb(210, 160, 79);
  font-size: 27px;
  font-weight: 600;
  padding: 5px;
}
@media only screen and (max-width: 880px) {
  .proj-t2 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 630px) {
  .proj-t2 {
    font-size: 17px;
  }
}

.proj-t2:hover {
  text-decoration: underline;
}

.proj-tx {
  max-width: 100%;
  max-height: 100%;
  flex: 0%;
}

.proj-tx2 {
  font-family: "Inter";
  color: rgb(255, 255, 255);
  font-size: 25px;
  padding: 5px 10px;
}
@media only screen and (max-width: 880px) {
  .proj-tx2 {
    font-size: 20px;
    align-content: center;
    text-align: center;
  }
}
@media only screen and (max-width: 630px) {
  .proj-tx2 {
    font-size: 15px;
  }
}

.slide-i {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.prev {
  margin-left: -15px;
}

.next {
  margin-right: -15px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: rgba(210, 160, 79, 0.9);
  border-radius: 50%;
  display: inline-block;
  transition: outline-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgba(243, 205, 146, 0.9);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.about {
  padding: 15px 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media only screen and (max-width: 630px) {
  .about {
    display: flex;
    flex-wrap: wrap;
  }
}

.mpic {
  height: 395px;
  flex: 0 50%;
}
@media only screen and (max-width: 600px) {
  .mpic {
    flex: 100%;
    height: 210px;
  }
}

.m_text {
  padding: 10px;
  flex: 0 50%;
  max-width: 40%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 630px) {
  .m_text {
    flex: 100%;
    max-width: 70%;
    width: 300px;
  }
}

.m_title {
  font-family: "Inter";
  color: white;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  padding: 7px 7px;
  background-color: rgba(210, 160, 79, 0.9);
}

.m_tx {
  padding: 10px;
  font-family: "Inter";
  color: white;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  width: auto;
}
@media only screen and (max-width: 630px) {
  .m_tx {
    width: 300px;
  }
}

.prof {
  padding: 15px 25px;
  display: flex;
}

.prof_t {
  font-family: "Inter";
  color: white;
  font-size: 38px;
  font-weight: 600;
  padding: 5px 20px;
}

.res_b {
  padding: 5px 20px;
  display: flex;
  justify-content: center;
}

button.res_but {
  background-color: #002D5E;
  outline-color: transparent;
  color: white;
  padding: 15px 35px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  font-family: "JetBrains Mono";
  font-style: normal;
}

.res_but:hover {
  color: blue;
  background-color: white;
}

.icon-h {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}
@media only screen and (max-width: 850px) {
  .icon-h {
    flex: 0 50%;
    max-width: 50%;
  }
}
@media only screen and (max-width: 700px) {
  .icon-h {
    flex: 100%;
    max-width: 100%;
  }
}

.icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 8px;
}

.icon_s {
  width: 100px;
  height: 100px;
  padding: 5px 10px;
}

.skill-t {
  font-family: "Inter";
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  font-family: "Inter";
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.15rem 1.3rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  font-size: 12px;
  font-weight: 600;
  padding: 8px;
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  text-decoration: underline;
  font-weight: 600;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    z-index: 10;
    left: -100%;
    top: 2rem;
    flex-direction: column;
    background-color: #00152C;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 2.5rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
.proj-cg {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 10px;
  align-items: center;
}

.proj-vz {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 10px;
  align-items: center;
}

.proj-at {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 10px;
  align-items: center;
}

.Pproj-c {
  padding: 20px 0px;
  height: 375px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
}
@media only screen and (max-width: 700px) {
  .Pproj-c {
    flex: 80%;
    max-width: 80%;
    flex-wrap: nowrap;
  }
}
@media only screen and (max-width: 630px) {
  .Pproj-c {
    max-height: auto;
    flex-wrap: nowrap;
  }
}

.Pproj-tx {
  max-width: 100%;
  max-height: 100%;
  flex: 0% 50%;
  max-width: 50%;
}
@media only screen and (max-width: 700px) {
  .Pproj-tx {
    flex: 100%;
    max-width: 100%;
  }
}

.Pproj-i {
  max-width: 100%;
  max-height: 100%;
  flex: 0% 50%;
  max-width: 50%;
}
@media only screen and (max-width: 700px) {
  .Pproj-i {
    flex: 100%;
    max-width: 100%;
  }
}

.slide-i {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.link:hover {
  color: blue;
}/*# sourceMappingURL=styles.css.map */