
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: $primary1;
}

a:link{
    color:white;
    text-decoration: none;
}

a:visited{
    color:white;
    text-decoration: none;
}

.top-container{
    //background-color: $secondary1;
    color: white;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: "JetBrains Mono";
    padding: 0px 10px; 
    font-size: 18px;
    
}

.navbar{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    
}

p.nav{
    font-family: "Inter";
    color:white;
    font-size: 15px;
    font-weight: 600;
    padding: 8px;

}

p.nav_p{
    font-family: "Inter";
    color:white;
    font-size: 15px;
    font-weight: 600;
    padding: 8px;
    text-decoration: underline;
}

p.nav:hover{
    text-decoration: underline;
}

.slides-container{
    background-color: $primary2;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.titles-c{
    width: 500px;
    
}

.name-t-c{
    background-color: $secondary1;
    //opacity: 0.85;
    width: 460px;
    margin: auto;
}

.name-t{
    font-family: "Inter";
    color:white;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.state-c{
    background-color: $secondary1;
    width: 500px;
    margin: auto;
}

.state{
    font-family: "JetBrains Mono";
    color:white;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

.rec-proj-c{
    padding: 30px 15px;
}

.proj-bar{
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.proj-t{
    font-family: "Inter";
    color:white;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    
}

.proj-c{
    padding: 20px 0px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.proj-i{
    background-color: $secondary1;
    width: 600px;
    height: 375px;
}

.proj-tx{
    background-color: ivory;
    width: 600px;
    height: 375px;  
}


/* Dropdown Button */
.dropbtn {
    background-color: $primary2;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: "JetBrains Mono";
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover{
    background-color: white;
    color: $primary2;
  }
  
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    font-family: "JetBrains Mono";
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    padding: 15px;
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
    right: 0;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

footer{
    background-color: $primary3;
    height: auto;
    margin-bottom: 0px;
    color: white;
    font-family: "JetBrains Mono";
    width: auto;
    font-style:normal;
}

.p-footer{
    padding: 8px;
    
}