.proj-cg{
    display:flex;
    flex-direction:column;
    align-content: center;
    padding: 10px;
}

.proj-vz{
    display:flex;
    flex-direction:column;
    align-content: center;
    padding: 10px;
}

.proj-ar{
    display:flex;
    flex-direction:column;
    align-content: center;
    padding: 10px;
}

.Pproj-c{
    padding: 20px 0px;
    height: 375px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;

    @include respond(880px){
        max-height: 275px;
    }
    @include respond(700px){
        flex: 80%;
        max-width: 80%;
    }
      @include respond(630px){
        max-height: 250px;
    }

    // @include respond(700px){
    //     flex: 100%;
    //     max-width: 80.0%;
    // }
}

.Pproj-tx{
    //background-color: ivory;

    max-width: 100%;
    max-height: 100%;  
    flex: 0% 50%;
    max-width: 50%;
    @include respond(700px){
        flex: 100%;
        max-width: 100%;
    }

}

.Pproj-i{
    //background-color: $secondary1;
    max-width: 100%;
    max-height: 100%;
    flex: 50% 0%;
    max-width: 50%;
      @include respond(700px){
        flex: 100%;
        max-width: 100%;
    }
        
}

.slide-i{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    //object-position: 100% 0;
  }