.proj-cg{
    display:flex;
    flex-direction:column;
}

.Pproj-c{
    padding: 20px 0px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex: 0 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    // @include respond(700px){
    //     flex: 100%;
    //     max-width: 80.0%;
    // }
}

.Pproj-tx{
    //background-color: ivory;

    max-width: 100%;
    max-height: 100%;  
    flex: 0% 50%;
    max-width: 50%;

}

.Pproj-i{
    //background-color: $secondary1;
    max-width: 100%;
    max-height: 100%;
      @include respond(630px){
        max-width: 50%;
    }
        
}
