/* Slideshow container */
.slideshow-container {
    flex: 100%;
    max-width: 88%;
    position: relative;
    margin: auto;
  //   flex: 50% 50%;
  //   @include respond(820px){
  //     flex: 40% 60%;
  // }
    
  }
  
  /* Hide the images by default */
  .mySlides {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    height: 375px;
    @include respond(880px){
      flex-direction: column;
      height: auto;
  }
    @include respond(730px){
      flex-direction: column;
      height: auto;
  }
  }

  .proj-i{
    //background-color: $secondary1;
    max-width: 100%;
    max-height: 100%;
    display: flex;
      @include respond(730px){
        //max-width: 80%;
        justify-content: center;
    }
        
    }

    .proj-t{
      font-family: "Inter";
      color:white;
      font-size: 30px;
      font-weight: 600;
      text-align: center;
      padding: 25px 15px;
  }
  
  .proj-t2{
      font-family: "Inter";
      color:white;
      background-color: $secondary1a;
      font-size: 27px;
      font-weight: 600;
      padding: 5px;
      @include respond(880px){
        font-size: 22px;
    }
    @include respond(630px){
      font-size: 17px;
  }
      //width: 200px;
      
  }

  .proj-t2:hover{
    text-decoration: underline;
  }

  .proj-tx{
      //background-color: ivory;

      max-width: 100%;
      max-height: 100%;  
      flex: 0%;

  }

  .proj-tx2{
    font-family: "Inter";
    color:rgb(255, 255, 255);
    font-size: 25px;
    padding: 5px 10px;
    @include respond(880px){
        font-size: 20px;
        align-content: center;
        text-align: center;
    }
    @include respond(630px){
      font-size: 15px;
  }
    //width: 200px;
    
}
  
  .slide-i{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    //object-position: 100% 0;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .prev{
    margin-left: -15px;
  }

  .next{
    margin-right: -15px;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: $secondary1;
    border-radius: 50%;
    display: inline-block;
    transition: outline-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: $secondary1h;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.0s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

